# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Documentos\UNIVERCIDAD\Semestre9\IngenieriaDeSoftwareII\Marca\BackendMarca\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
